/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'cc_react';
@reset      : 'cc_react';

/* Elements */
@button     : 'cc_react';
@container  : 'cc_react';
@divider    : 'cc_react';
@flag       : 'cc_react';
@header     : 'cc_react';
@icon       : 'cc_react';
@image      : 'cc_react';
@input      : 'cc_react';
@label      : 'cc_react';
@list       : 'cc_react';
@loader     : 'cc_react';
@rail       : 'cc_react';
@reveal     : 'cc_react';
@segment    : 'cc_react';
@step       : 'cc_react';

/* Collections */
@breadcrumb : 'cc_react';
@form       : 'cc_react';
@grid       : 'cc_react';
@menu       : 'cc_react';
@message    : 'cc_react';
@table      : 'cc_react';

/* Modules */
@accordion  : 'cc_react';
@checkbox   : 'cc_react';
@dimmer     : 'cc_react';
@dropdown   : 'cc_react';
@embed      : 'cc_react';
@modal      : 'cc_react';
@nag        : 'cc_react';
@popup      : 'cc_react';
@progress   : 'cc_react';
@rating     : 'cc_react';
@search     : 'cc_react';
@shape      : 'cc_react';
@sidebar    : 'cc_react';
@sticky     : 'cc_react';
@tab        : 'cc_react';
@transition : 'cc_react';

/* Views */
@ad         : 'cc_react';
@card       : 'cc_react';
@comment    : 'cc_react';
@feed       : 'cc_react';
@item       : 'cc_react';
@statistic  : 'cc_react';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
